$color-primary: #191445;
$color-orange: #FB9116;
$color-secondary: #4333FF;
$color-silver: #D8D8D8;
$color-snow: #F1F1F1;
$color-stone--light: #BBBBBB;
$color-stone: #606060;
$color-white: #FFFFFF;

$color-fb-blue: #3B5998;
$color-in-blue: #0077B5;

$media-bp-phone: 320px;
$media-bp-tablet: 768px;
$media-bp-tabletL: 890px;
$media-bp-laptop: 1024px;
$media-bp-laptopL: 1180px;
$media-bp-laptopXL: 1370px;

$transition-ease-out-fast: all .2s ease-out;