.overview {
  &__image {
    position: relative;

    &:before {
      @include absolute-position;
      z-index: 1;
      background-color: rgba(25, 20, 69, 0.33);
      content: "";
    }

    img {
      width: 100%;
      height: initial;
    }
  }

  @media (min-width: $media-bp-tablet) {
    &__list {
      display: flex;
    }

    &__item {
      width: 100%;
    }
  }
}
